    <ul class='records-lists'>
      <li class='list'>
        <%= link_to list_path(record.id), method: :get do %>
        <div class='record-info'>
          <div class='record-image-content'>
          <% if record.images.count > 0%>
            <%= image_tag record.images.first, class:'image' %>
          <% else %>
            <%= image_tag "noimage.png" %>
          <% end %>
          </div>
          <div class='record-string-content'>
            <h3 class='record-title'>
              <%= record.title %>
            </h3>
            <div class='record-date-memo'>
              <%= record.date %>
            </div>
            <div class='record-place-memo'>
              <i class="fas fa-map-marker-alt"></i><%= record.place %>
            </div>
            <div class="record-username">
              by  <%= record.user.name %>さん
            </div>
              <i class="fas fa-bookmark"></i>
              <%= record.favorites.length %>
          </div>
        </div>
        <% end %>
      </li>
    </ul>
