    <ul class='records-lists'>
      <li class='list'>
        <%= link_to list_path(record.id), method: :get do %>
        <div class='record-info'>
          <div class='record-image-content'>
          <% if record.images.count > 0%>
            <%= image_tag record.images.first, class:'image' %>
          <% else %>
            <%= image_tag "noimage.png" %>
          <% end %>
          </div>
          <div class='record-string-content'>
            <h3 class='record-title'>
              <%= record.title %>
            </h3>
            <div class='record-memo'>
              <span><%= record.date %><br><%= record.place %></span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
    </ul>
