<header class="header">
  <div class="header-bar">
    <div class="icon">
      <%= link_to image_tag("RecoSnap-Logo.png", class:"recosnap-icon"), "/" %>
    </div>
    <% if user_signed_in? %>
      <div class="nav">
        <span><%= link_to "#{current_user.name}さん", "/", method: :get, class:"user-name" %>
          <ul class="lists-button">
            <li><%= link_to 'お気に入り', user_path(current_user.id), class: "menu" %></li>
            <li><%= link_to 'ユーザー情報変更', edit_user_registration_path, class: "menu" %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "menu" %></li>
          </ul>
        </span>
        <i class="fas fa-pen"></i><%= link_to "記録する", new_record_path, class:"post" %>
        <i class="fas fa-user-edit"></i><%= link_to "みんなの記録", lists_path, method: :get, class:"post" %>
      </div>
    <% end %>
  </div>
</header>
