<ul class='records-lists'>
  <li class='list'>
    <%= link_to record_path(record.id), method: :get do %>
    <div class='record-info'>
      <div class='record-image-content'>
      <% if record.images.count > 0 %>
        <%= image_tag record.images.first, class:'image' %>
      <% else %>
        <%= image_tag "noimage.png" %>
      <% end %>
      </div>
      <div class='record-string-content'>
        <h3 class='record-title'>
          <%= record.title %>
        </h3>
        <div class='record-date-memo'>
          <%= record.date %>
          </div>
        <div class="record-place-memo">
          <i class="fas fa-map-marker-alt"></i><%= record.place %>
        </div>
        <% if record.status == "closed" %>
        <div class='record-status-0'>
          <%= record.status %>
        </div>
        <% else %>
        <div class='record-status-1'>
          <%= record.status %>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </li>
</ul>
