<%= render 'shared/header' %>

<div class='main'>
  <h1>思い出を記録しよう</h1>

  <%# 検索フォーム %>
  <%= search_form_for @q, url: search_records_path do |f| %>
    <%= f.label :title_or_text, 'キーワード検索' %>
    <%= f.search_field :title_or_text_cont %>
    <%= f.submit "検索" %>
  <% end %>
  <%# //検索フォーム %>

  <div class="contents row">
    <% @results.each do |record| %>
      <%= render partial: "record", locals: { record: record } %>
    <% end %>
  </div>
