<%= render 'shared/header' %>

<div class="record-show">
  <div class="record-img-content">
    <% @record.images.each do |image|%>
    <%= image_tag image, class:"record-box-img" %>
    <% end %>
  </div>
    <div class="title-box">
      <h2 class="title">
      <%= @record.title %>
      </h2>
    <div class="category-box">
      カテゴリー ：<%= @record.category.name %>
    </div>
    </div>
    <div class="date-box">
      日付：<%= @record.date %>
    </div>
    <div class="place-box">
      場所 ：<%= @record.place %>
    </div>
    <div class="with-box">
      一緒に行った人 :<%= @record.with %>
    </div>
    <div class="text-box">
      記録 ：<%= simple_format(h(@record.text)) %>
    </div>
     <div class="url-box">
      参考URL ：<%= text_url_to_link(@record.url).html_safe %>
    </div>

    <%= link_to "編集", edit_record_path(@record.id), method: :get, class: "record-edit-btn" %>
    <%= link_to "削除", record_path(@record.id), method: :delete, class: "record-destroy" %>
    <%= link_to "一覧へ戻る", "/", class: "root" %>
</div>




