<%= render "shared/header" %>

<div class="login-main">
  <div class="login-body">
    <div class="login-left">
      <h1>RecoSnapへようこそ！ <i class="fas fa-book"></i></h1>
      <div class="login-introdunction">
        <p>あの日の思い出を、写真とテキストで残そう。</p>
        <p>RecoSnapならお出かけした日付や場所を詳細に記録できます。</p>
        <p>自分だけの記録にするのも、公開してみんなとシェアするのもあなたの自由です。</p>
        <p>アルバムを作るように、日記を書くように、簡単にはじめられます！</p>
      </div>
    </div>
    <div class="login-form-wrap">
      <h2 class="form-header-text">ログイン</h2>

      <div class='login-flash-message'>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>
    
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :name, "ニックネーム" %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>

        <div class="field">
          <%= f.label :email, "Eメール" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"mail@recosnap.com" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード" %><br />
          <%= f.password_field :password, autocomplete: "current-password", placeholder:"半角英数字6文字以上" %>
        </div>

        <div class="actions">
          <%= f.submit "ログイン" %>
        </div>
      <% end %>

        <div class="new-user">
          <%= link_to '新規登録はこちら', new_user_registration_path, method: :get %>
        </div>

      <%#= render "devise/shared/links" %>
        <!--div class="guest-login">
          <%= link_to 'ゲストログイン（閲覧用）', user_session_path, method: :post %>
        </div-->
    </div>
  </div>
</div>
