<!DOCTYPE html>
<html>
  <head>
    <title>Recosnap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet"/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    
  </head>

  <body>
    <%= yield %>
    <footer>
      <p>
        Copyright RecoSnap 2021.
      </p>
    </footer>
  </body>
</html>
